
<div style="position: relative; width: 100vw; height: 100vh;">
    <div>
        <%= @circle_pos.y %>
    </div>

    <img id="circle" phx-hook="MoveHook" src={~p"/images/side-eye.jpg"} width="100" height="100" tabindex="0"
        style={"position: absolute; top: #{@circle_pos.y}px; left: #{@circle_pos.x}px; transform:
        translate(-50%,-50%);"} />
</div>